* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  padding: 10px;
}

#container {
  width: 100%;
  display: block;
  max-width: 800px;
  margin: auto;
}

#container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#container-header h1 {
  flex: 1;
}

#workspace-search {
  width: 100%;
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  background: var(--color-bg-4);
  color: var(--color-font-1);
}

#workspace-list {
  width: content;
  padding-top: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.workspace.highlight {
  outline: 2px solid var(--color-font-2);
}

.workspace {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  width: 100px;
  height: 120px;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
  background: var(--color-bg-4);
  color: var(--color-font-2);
  position: relative;
}

.workspace.complete {
  background: var(--color-accent);
  color: var(--color-bg-2);
}

.workspace::after {
  content: ":)";
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 50px;
  opacity: 0.3;
}

.workspace-name {
  width: 100%;
  display: block;
  font-size: max(12px, min(18px, calc(1 / (var(--length) / 8) * 16px)));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#workspace-create {
  position: fixed;
  bottom: 10px;
  right: calc(50vw - min(400px, 50vw) + 10px); /* aligned with #container */
  padding: 10px;
  border-radius: 4px;
  background: var(--color-accent);
  color: var(--color-font-1);
  box-shadow: 0px 0px 5px var(--color-shadow);
  transition: 0.2s;
}

#workspace-create:active {
  background: var(--color-accent-light);
}

#modal-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-bg-5);
  backdrop-filter: blur(3px) brightness(60%);
}

#modal {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

#modal-title {
  color: var(--color-font-1);
  margin-bottom: 10px;
}

#modal-message {
  color: var(--color-font-2);
  margin-bottom: 10px;
}

#modal-input {
  width: 100%;
  padding: 10px;
  background: var(--color-bg-4);
  color: var(--color-font-1);
  margin-bottom: 10px;
  border: 1px solid var(--color-font-2);
  border-radius: 4px;
}

.modal-button {
  width: 100%;
  padding: 10px;
  color: var(--color-font-1);
  border-radius: 4px;
  transition: 0.2s;
}

.modal-button + .modal-button {
  margin-top: 10px;
}

#modal-positive-button {
  background: var(--color-accent);
}

#modal-positive-button:active {
  background: var(--color-accent-light);
}

#modal-negative-button {
  background: var(--color-error);
}

#modal-negative-button:active {
  background: var(--color-error-light);
}

.anim-fade-in {
  animation: fade-in 0.2s ease;
}

.anim-fade-out {
  animation: fade-out 0.2s ease;
}

.anim-stretch {
  animation: stretch 0.4s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes stretch {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }
}
