body {
  padding: 10px;
}

ul {
  list-style: none;
  padding: 10px;
  background: var(--color-bg-3);
  border-radius: 4px;
}

ul + ul {
  margin-top: 10px;
}

ul h1 {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-font-1);
}

ul li {
  padding: 2px;
  color: var(--color-font-2);
}

ul li button {
  width: 100px;
  padding: 3px;
  margin-right: 10px;
  background: var(--color-bg-4);
  color: var(--color-font-1);
}
