header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

header h1 {
  flex: 1;
}

#container {
  padding: 10px;
}

ul {
  display: block;
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  background: var(--color-bg-3);
  border-radius: 4px;
  overflow-x: scroll;
}

ul > label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-font-1);
}

li {
  margin-right: 10px;
  color: var(--color-font-2);
}

li + li {
  margin-top: 3px;
}

li .description {
  margin-left: 10px;
  font-family: monospace;
}

li .hidden {
  display: none;
}

li span:not(.hidden) + .toggler {
  padding-left: 10px;
}

li .toggler {
  color: var(--color-accent);
  font-weight: bold;
}

li button {
  width: 100px;
  padding: 3px;
  background: var(--color-bg-4);
  color: var(--color-font-1);
}
