body {
  padding: 10px;
  animation: fade-in 0.4s ease;
}

header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

header h1 {
  flex: 1;
}

ul {
  list-style: none;
  padding: 10px;
  background: var(--color-bg-3);
  border-radius: 4px;
  overflow-x: scroll;
}

ul + ul {
  margin-top: 10px;
}

ul > label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-font-1);
}

li {
  margin-right: 10px;
  color: var(--color-font-2);
}

li + li {
  margin-top: 3px;
}

li span {
  margin-left: 10px;
}

li button {
  width: 100px;
  padding: 3px;
  background: var(--color-bg-4);
  color: var(--color-font-1);
}
