/*  Editor */
.ql-snow .ql-editor {
  font-family: monospace;
  font-size: 14px;
  color: var(--color-font-2);
  padding: 10px!important;
  border: none;
}

/* Placeholder */
.ql-snow .ql-blank::before {
  left: 10px;
  color: var(--color-font-2);
  opacity: .6;
  font-style: normal;
} 

/* Font size configuration */
.ql-snow .ql-size-small {
  font-size: 11.2px;
}

.ql-snow .ql-size-large {
  font-size: 21px;
}

.ql-snow .ql-size-huge {
  font-size: 24px;
}

/* Toolbar poppup */
.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  top: 0px;
  transform: translateY(-110%);
  background: var(--color-bg-4);
  color: var(--color-font-2);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 5px var(--color-shadow);
}

/* Toolbar popup labels */
.ql-snow .ql-picker-label {
  color: var(--color-font-2);
  border: none;
}

/* Icons color */
.ql-snow .ql-stroke {
  stroke: var(--color-font-2);
}

.ql-snow .ql-fill {
  fill: var(--color-font-2);
}

/* Floating tools (used for links) */
.ql-snow .ql-tooltip {
  background: var(--color-bg-4);
  color: var(--color-font-2);
  box-shadow: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 5px var(--color-shadow);
}

.ql-snow .ql-tooltip input {
  background: var(--color-bg-3);
  color: var(--color-font-2);
  outline: none;
  border-radius: 4px;
}

